@model User

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Items
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        <form asp-action="DeleteItem" method="post">
                            <input type="hidden" name="userId" value="@Model.Id"></input>
                            <input type="hidden" name="itemId" value="@item.Id"></input>
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr>
    Add Item
    <form asp-action="AddItemToUser" method="post">
        <input type="hidden" name="id" value="@Model.Id"></input>
        Type:
        <input name="type"></input>
        <button type="submit">Add</button>
    </form>
</div>

<div>
    <a asp-action="GetAllUsers">Back to list</a>
</div>
